<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.plugin.Scanner" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Scanner</name><js-module name="Scanner" src="www/Scanner.js"><clobbers target="Scanner" /></js-module><platform name="ios"><icon src="src/ios/codeframe.png" /><icon src="src/ios/line.png" /><config-file parent="/*" target="config.xml"><feature name="Scanner"><param name="ios-package" value="Scanner" /></feature></config-file><resource-file src="src/ios/ScannerBundle.bundle"/><header-file src="src/ios/Scanner.h" /><source-file src="src/ios/Scanner.m" /><header-file src="src/ios/QRCodeController.h" /><source-file src="src/ios/QRCodeController.m" /></platform></plugin>
